            body {
                box-sizing: border-box;
            }
            
            a {
                text-decoration: none;
                display: inline-block
            }
            
            li {
                list-style-type: none;
            }
            
            .container {
                max-width: 1230px;
                padding: 0 15px;
                margin: 0 auto;
                position: relative;
                text-align: center;
            }
            
            body {
                font-family: 'Roboto Condensed' sans-serif;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #1B1818;
            }
            /*......Header.......*/
            
            .header {
                background: #1B1818;
                z-index: 10;
                height: 80px;
                width: 100%;
            }
            
            .header__inner {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px;
            }
            
            .logo__link {
                position: relative;
                z-index: 5;
                width: 80px;
                height: 70px;
            }
            
            .menu__icon {
                display: none;
            }
            
            .burger-menu_button {
                position: fixed;
                top: 10px;
                right: 10px;
                z-index: 30;
                width: 80px;
                height: 80px;
                border-radius: 50%;
                background-color: rgba(255, 255, 255, 0.5);
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
            }
            
            .burger-menu_button:hover .burger-menu_lines {
                filter: brightness(0.7);
            }
            
            .burger-menu_button:hover {
                background-color: rgba(255, 255, 255, 0.7);
            }
            
            .burger-menu_lines::before,
            .burger-menu_lines::after,
            .burger-menu_lines {
                position: absolute;
                width: 50px;
                height: 3px;
                background-color: #BB1E99;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
            }
            
            .burger-menu_lines {
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
            
            .burger-menu_lines::before {
                content: '';
                top: -12px;
            }
            
            .burger-menu_lines::after {
                content: '';
                top: 12px;
            }
            
            .burger-menu_active .burger-menu_lines {
                background-color: transparent;
            }
            
            .burger-menu_active .burger-menu_lines::before {
                top: 0;
                transform: rotate(45deg);
            }
            
            .burger-menu_active .burger-menu_lines::after {
                top: 0;
                transform: rotate(-45deg);
            }
            
            .burger-menu_nav {
                padding-top: 120px;
                position: fixed;
                top: 0;
                z-index: 20;
                display: flex;
                flex-flow: column;
                height: 100%;
                background-color: #F9AFE9;
                overflow-y: auto;
                right: -100%;
                -webkit-transition: 0.8s;
                -moz-transition: 0.8s;
                -o-transition: 0.8s;
                transition: 0.8s;
            }
            
            .burger-menu_active .burger-menu_nav {
                right: 0;
                -webkit-transition: 0.4s;
                -moz-transition: 0.4s;
                -o-transition: 0.4s;
                transition: 0.4s;
            }
            
            .burger-menu_link {
                padding: 18px 35px;
                font-family: 'Roboto', sans-serif;
                font-size: 18px;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 5px;
                font-weight: 400;
                color: #BB1E99;
                border-bottom: 1px solid #fff;
            }
            
            .burger-menu_link:first-child {
                border-top: 1px solid #fff;
            }
            
            .burger-menu_link:hover {
                filter: brightness(0.9);
            }
            
            .burger-menu_overlay {
                display: none;
                position: fixed;
                top: 0;
                left: 0;
                width: 100vw;
                height: 100vh;
                z-index: 10;
            }
            
            .burger-menu_active .burger-menu_overlay {
                display: block;
                background-color: rgba(0, 0, 0, 0.5);
            }
            
            section {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100vh;
                font-family: sans-serif;
                font-size: 72px;
                text-transform: uppercase;
                color: #000;
            }
            
            #section-1 {
                background-image: url("https://images.pexels.com/photos/1813272/pexels-photo-1813272.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
                background-attachment: fixed;
                background-size: cover;
                color: #DF2A29;
                text-shadow: 4px 4px 6px #fff;
            }
            
            #section-2 {
                background-color: red;
                color: #fff;
            }
            
            #section-3 {
                background-image: url(https://images.unsplash.com/photo-1551656258-7610a70ff3a3?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
                background-size: cover;
                color: #000;
                text-shadow: 4px 4px 3px #fff;
            }
            
            #section-4 {
                background-color: blue;
                color: #fff;
            }
            
            #section-5 {
                background-image: url(https://images.unsplash.com/photo-1552256203-c5863f355f44?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
                background-attachment: fixed;
                background-size: cover;
                color: #0000FF;
                text-shadow: 0px 0px 15px #7979fc;
            }
            
            .menu__list {
                display: flex;
            }
            
            .menu__item {
                margin: 0 15px;
            }
            
            .bx,
            .bx-user {
                margin-right: 7px;
                color: #fefefe;
            }
            
            .menu__list-link {
                text-transform: uppercase;
                color: #fefefe;
                font-size: 18px;
                line-height: 21px;
                padding-bottom: 5px;
                transition: all .5s;
                border-bottom: 1px solid transparent;
            }
            
            .menu__list-link:hover {
                border-bottom: 1px solid #fefefe;
            }
            
            .top {
                background: url(../image/background.jpg);
                height: 100vh;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            .top__inner,
            .stock__inner {
                display: flex;
            }
            
            .top__heading {
                max-width: 450px;
                margin-right: 70px;
                position: absolute;
                top: 15%;
                left: 45%;
            }
            
            .top__content {
                padding-top: 150px;
                padding-bottom: 180px;
            }
            
            .top__title,
            .direction__item-title,
            .stock__title,
            .desc__item-title {
                color: #1B1818;
                font-family: 'Fira', sans-serif;
                font-weight: 500px;
                font-size: 28px;
                line-height: 35px;
                text-align: center;
                margin-bottom: 20px;
            }
            
            .btn__text {
                background: #FFE500;
                color: #1B1818;
                font-size: 18px;
                line-height: 21px;
                padding: 15px 45px;
                border-radius: 10px;
            }
            
            .btn__text:hover {
                text-decoration: none;
                color: #1B1818;
                background: #EFC52E;
                border-radius: 10px;
                transition: all .5s;
            }
            /*.......Direction.......*/
            
            .direction {
                padding: 30px 20px 30px;
            }
            
            .direction__item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }
            
            .direction__item-content {
                max-width: 750px;
            }
            
            .direction__item-text {
                margin-bottom: 20px;
                text-align: justify;
                padding: 20px;
            }
            /*.......Price.......*/
            
            .price {
                margin: 20px 20px 20px;
            }
            
            .price__items {
                display: flex;
                justify-content: space-between;
                height: 100%;
            }
            
            .price__item {
                max-width: 350px;
                max-height: 350px;
                background: #1A1A1A;
                padding: 20px;
                /*position: relative;*/
                overflow: hidden;
            }
            
            .price__item-title {
                margin-bottom: 20px;
                text-transform: uppercase;
                color: #FFE500;
                font-family: 'Fira', sans-serif;
                font-weight: 500px;
                font-size: 28px;
                line-height: 32px;
                text-align: center;
            }
            
            .price__item-subtitle {
                color: #fefefe;
            }
            
            .price__item-list {
                color: #fefefe;
                margin-bottom: 10px;
            }
            
            .price__item-number {
                color: #FFE500;
                font-family: 'Fira', sans-serif;
                font-size: 28px;
                line-height: 32px;
                text-align: center;
                padding: 10px;
                margin-bottom: 10px;
            }
            
            .icon-done:before {
                content: url(../image/icon-done.svg);
                padding-right: 5px;
            }
            
            .icon-none:before {
                content: url(../image/i_none.svg);
                padding-right: 5px;
            }
            
            .price__item-list li {
                color: #fefefe;
                padding-left: 30px;
                text-align: justify;
            }
            
            .price__item-btn {
                background: #FFE500;
                color: #1B1818;
                font-size: 18px;
                line-height: 21px;
                padding: 15px 45px;
                border-radius: 10px;
            }
            
            .price__item-btn:hover {
                text-decoration: none;
                color: #1B1818;
                background: #EFC52E;
                border-radius: 10px;
                transition: all .5s;
            }
            
            .
            /*.......Contact.......*/
            
            .contact {
                padding: 10px;
            }
            
            .contact__inner {
                display: inline-block;
                top: 10px;
            }
            
            .contact__col {
                width: 250px;
                margin-bottom: 10px;
            }
            
            .contact__number {
                font-family: 'Fira', sans-serif;
                font-size: 28px;
                line-height: 32px;
                text-decoration: none;
                color: #1B1818;
            }
            /*.......Map.......*/
            
            .map {
                position: relative;
                margin: 0 auto;
            }
            
            .map__img {
                padding: 50px;
            }
            /*.......Stock......*/
            
            .stock {
                background: url(../image/background-2.jpg);
                height: 100vh;
                background-position: top;
                background-size: cover;
                background-repeat: no-repeat;
            }
            
            .stock__heading {
                max-width: 450px;
            }
            
            .stock__content {
                padding-top: 200px;
                padding-bottom: 180px;
            }
            /*......Desc......*/
            
            .desc {
                padding: 50px 10px 30px;
            }
            
            .desc__item {
                display: flex;
                justify-content: space-between;
            }
            
            .desc__item-content {
                max-width: 750px;
            }
            
            .desc__item-text1,
            .desc__item-text2 {
                margin-bottom: 20px;
                text-align: justify;
            }
            /*......Manager.......*/
            
            .manager {
                display: flex;
                justify-content: space-between;
            }
            
            .manager__title {
                font-family: Fira Code;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 37px;
                margin-bottom: 15px;
            }
            
            .manager__persname {
                margin-bottom: 15px;
                margin-top: 15px;
                font-family: PT Sans;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 23px;
                color: #1B1818;
            }
            
            .manager__descr,
            .manager__phone {
                font-family: PT Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 23px;
                color: #1B1818;
            }
            
            .manager__phone {
                text-decoration: none;
                margin-bottom: 15px;
            }
            /*......Form......*/
            
            form {
                position: relative;
                margin: 0 auto;
                background: #1B1818;
                max-width: 450px;
                max-height: 500px;
                padding: 20px;
                border-radius: 45px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
            
            .advice {
                cursor: pointer;
                margin: 0 auto;
                padding-bottom: 15px;
                border-bottom: 3px solid #FFE500;
                color: #FFE500;
            }
            
            .group {
                margin: 10px;
            }
            
            label {
                padding-left: 10px;
                color: #CDC8C8;
            }
            
            input {
                margin-top: 10px;
                height: 35px;
                width: 350px;
                border-radius: 20px;
                padding-left: 15px;
                font-size: 18px;
                outline: none;
            }
            
            input:focus {
                transform: translateX(15px);
                width: 385px;
            }
            
            .button__text {
                cursor: pointer;
                padding: 10px;
                height: 45px;
                color: #1B1818;
                background: #FFE500;
                border: none;
            }
            
            .button__text {
                font-weight: bold;
                transform: scale(1.1);
                transition: all .5s;
            }
            /*.......Footer.......*/
            
            .footer {
                position: absolute;
                width: 100%;
                background: #1B1818;
            }
            
            span {
                margin-right: 15px;
            }
            
            .bottom__text {
                color: #fefefe;
                text-align: center;
            }
            
            address {
                display: flex;
                justify-content: space-between;
                color: #fefefe;
                padding: 10px;
            }
            
            @media screen (max-width: 1145px) {
                .price {
                    padding: 20px 70px 20px;
                }
                .price__item {
                    margin: 30px;
                }
                .price__items {
                    display: flex;
                    align-items: flex-start;
                    flex-wrap: wrap;
                    height: 100%;
                }
                .desc__item-content {
                    max-width: 650px;
                }
                .desc__item-text1,
                .desc__item-text2 {
                    margin: 20px;
                    text-align: justify;
                }
            }
            
            @media screen (max-width: 1030px) {
                .direction {
                    padding: 20px 20px 20px;
                }
                .direction__item {
                    display: inline-block;
                    width: 70%;
                }
                .stock {
                    background: url(../image/background-2.jpg);
                    height: 100vh;
                    background-position-x: inherit;
                    background-size: cover;
                    background-repeat: no-repeat;
                }
                .desc {
                    padding: 20px 20px 30px;
                }
                .desc__item {
                    display: flex;
                    flex-direction: column;
                }
                .desc__item-title {
                    justify-content: center;
                    margin: 30px;
                }
                .desc__item-content {
                    max-width: 550px;
                    margin: 0 auto;
                }
                .desc__item-text1,
                .desc__item-text2 {
                    margin-right: 50px;
                    justify-content: center;
                }
                .price {
                    margin: 20px 20px 10px;
                }
                .price__items {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    height: 50%;
                }
            }